body{
	margin: 0;
	user-select: none;
}
*{
	-webkit-user-drag:none;
}
.counter{
	position: absolute;
	left: 2%;
	top: 2%;
	font-size: 5vw;
}
.ball_container{
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 40%;
	top: 10%;
	cursor: pointer;
}
#start{
	position: absolute;
	left: 2%;
	top: 20%;
	padding: 0.5% 1%;
	cursor: pointer;	
}

#stop{
	position: absolute;
	left: 2%;
	top: 30%;
	padding: 0.5% 1%;
	cursor: pointer;	
}

.result{
	position: absolute;
	left: 40%;
	top: 1%;
	font-size: 3vw;
}

.rotateLeft{
	animation: rotateleft 1s linear infinite;
}
@keyframes rotateleft{
	100%{
		transform: rotate(-360deg);
	}
}

.rotateRight{
	animation: rotateright 1s linear infinite;
}
@keyframes rotateright{
	100%{
		transform: rotate(360deg);
	}
}